<html>
    <head>
        <title>Student Mental Health Rating App - Main Page</title>
    </head>
    <body>
        <!-- Header -->
        <header id = "app_name" style = "text-align: left;">
            <h1>Student Mental Health App</h1>
        </header>

        <!-- Nav Placement -->
        <hr id = "line">
        <br>

        <!-- Main User Input Area -->
        <div class = "main_content">

            <!-- Habat data form-->
            <section>
                <form action = "/home" id = "health_input_form" method = "post">
                    <h2>Sleep Hours Input</h2>
                    <p>On average, how many hours of sleep do you get per day? (Round to one decimal place).</p>
                    <input type = "text" id = "userSleep" name = "sleep_hours">
                    
                    <h2>Tv Hours Input</h2>
                    <p>On average, how many hours of TV do you watch per day? (Round to one decimal place).</p>
                    <input type = "text" id = "userTvHours" name = "tv_hours">
                    
                    <h2>Diet Quality Input</h2>
                    <label for = "userInputDQ">What is your typically diet quality?</label>
                        <select id = "userDiet" name = "diet_quality">
                            <option value = "placeholder"></option>
                            <option value = "poor">Poor</option>
                            <option value = "fair">Fair</option>
                            <option value = "good">Good</option>
                            <option value = "other">Other</option>
                        </select>
                    
                    <h2>Exercise Frequency Weekly Input</h2>
                    <p>On average, how many times do you exercise per week? (Answer in whole numbers)</p>
                    <input type = "text" id = "userExercise" name = "exercise_freaquency_weekly">
                    
                    <h2>Daily Study Hours Input</h2>
                    <p>On average, how many hours do you study per day?</p>
                    <input type = "text" id = "userStudy" name = "daily_study_hours">
                    
                    <h2>Social Media Hours Input</h2>
                    <p>On average, how many hours are you on social media daily? (Round to one decimal place).</p>
                    <input type = "text" id = "userSocialMedia" name = "social_media_hours">
                    
                    <h2>Part Time Job Input</h2>
                    <label for = "userInputPTJ">Do you have a part time job?</label>
                        <select id = "userJob" name = "part_time_job">
                            <option value = "placeholder"></option>
                            <option value = "yes">Yes</option>
                            <option value = "no">No</option>
                        </select>

                    <h2>Extracurricular Input</h2>
                    <label for = "userInputEC">Do you partcipate in extracurricular activities?</label>
                        <select id = "userExtracurricular" name = "extracurricular_participation">
                            <option value = "placeholder"></option>
                            <option value = "yes">Yes</option>
                            <option value = "no">No</option>
                        </select>
                    <br><br>

                    <button role = "button" id = "submit_button">Calculate Mental Health Score!</button>
                </form>

                <hr id = "line">
                <div id = "modelRating">Placeholder</div>
            </section>
        </div>

        <script src = "main_page.js"></script>
    </body>
</html>