<html>
    <head>
        <title>Student Mental Health Rating App - Main Page</title>
        
        <!--CSS Styling Link-->
        <link rel = "stylesheet" href = "/nav.css">
    </head>
    <body>
        <!-- Header -->   
        <h1>Student Mental Health App</h1>
        
        <!-- Nav Placement -->
        <nav id = "nav">
            <ul>
                <li><a href = "/home"><strong>Home</strong></a></li>
                <li><a href = "/visuals"><strong>Health Graph</strong></a></li>
            </ul>
        </nav>
        <hr id = "line">
    
        <!-- Click me to logout -->
        <a href = "/logout"><button>Logout</button></a>
        <br>

        <!-- Main User Input Area -->
        <div class = "main_content">
            <!--Shows the rating predicted by the model if it exists-->
            <% if (rating) { %>
                <p>Mental Health Rating: <%= rating  %></p>
            <% } %>


            <!-- Habat data form -->
            <section>
                <form action = "/home" id = "health_input_form" method = "post">
                    <h2>Sleep Hours Input</h2>
                    <p>On average, how many hours of sleep do you get per day? (Round to one decimal place).</p>
                    <input type = "text" id = "userSleep" name = "sleep_hours" required>
                    
                    <h2>Tv Hours Input</h2>
                    <p>On average, how many hours of TV do you watch per day? (Round to one decimal place).</p>
                    <input type = "text" id = "userTvHours" name = "tv_hours" required>
                    
                    <h2>Diet Quality Input</h2>
                    <label for = "userInputDQ">What is your typical diet quality?</label>
                        <select id = "userDiet" name = "diet_quality" required>
                            <option></option>
                            <!--Values: Fair = 0, Good = 1, Poor = 2-->
                            <option value = "Poor">Poor</option>
                            <option value = "Fair">Fair</option>
                            <option value = "Good">Good</option>
                        </select>
                    
                    <h2>Exercise Frequency Weekly Input</h2>
                    <p>On average, how many times do you exercise per week? (Answer in whole numbers).</p>
                    <input type = "text" id = "userExercise" name = "exercise_frequency_weekly" required>
                    
                    <h2>Daily Study Hours Input</h2>
                    <p>On average, how many hours do you participate in academic work/study per day? (Round to one decimal place).</p>
                    <input type = "text" id = "userStudy" name = "daily_study_hours" required>
                    
                    <h2>Social Media Hours Input</h2>
                    <p>On average, how many hours are you on social media daily? (Round to one decimal place).</p>
                    <input type = "text" id = "userSocialMedia" name = "social_media_hours" required>
                    
                    <h2>Part Time Job Input</h2>
                    <label for = "userInputPTJ">Do you have a part time job?</label>
                        <select id = "userJob" name = "part_time_job" required>
                            <option></option>
                            <!--Values: No = 0, Yes = 1-->
                            <option value = "Yes">Yes</option>
                            <option value = "No">No</option>
                        </select>

                    <h2>Extracurricular Input</h2>
                    <label for = "userInputEC">Do you participate in extracurricular activities?</label>
                        <select id = "userExtracurricular" name = "extracurricular_participation" required>
                            <option></option>
                            <!--Values: No = 0, Yes = 1-->
                            <option value = "Yes">Yes</option>
                            <option value = "No">No</option>
                        </select>
                    <br><br>

                    <button role = "button" id = "submit_button">Calculate Mental Health Score!</button>
                </form>

                <hr id = "line">
            </section>
        </div>    
    </body>
</html>