<html>
    <head>
        <title>Student Mental Health Rating App - Login Page</title>
    </head>
    <body>

        <div class = "form-container">
            <h2>Login</h2>
            <form action = "/login" method = "post">
                <div class = "form-group">
                    <label for = "name">Email:</label>
                    <input type ="text" id = "email" name = "useremail" required>
                </div>
                <div class = "form-group">
                    <label for = "password">Password:</label>
                    <input type = "password" name = "password" required>
                </div>
                <button type = "submit" class = "submit-button">Login</button>
            </form>
            <p>Don't have an account? Sign up <a href = "/signup">here</a></p>
        </div>

    </body>
</html>