<html>
    <head>
        <title>Student Mental Health Rating App - Visual Page</title>
      
        <!--CSS Styling Link-->
        <link rel = "stylesheet" href = "/nav.css">
    </head>
    <body>
        <!-- Header -->   
        <h1>Student Mental Health App</h1>
        
        <!-- Nav Placement -->
        <nav id = "nav">
            <ul>
                <li><a href = "/home"><strong>Home</strong></a></li>
                <li><a href = "/visuals"><strong>Health Graph</strong></a></li>
            </ul>
        </nav>
        <hr id = "line">
        
        <!-- Click me to logout -->
        <a href = "/logout"><button>Logout</button></a>

    </body>
</html>