<html>
    <head>
        <title>Student Mental Health Rating App - Visual Page</title>

        <!--CSS Styling Link-->
        <link rel = "stylesheet" href = "/style.css">

    </head>
    <body>
        

    </body>
</html>