<html>
    <head>
        <title>Student Mental Health Rating App - Visual Page</title>
      
        <!--CSS Styling Link-->
        <link rel = "stylesheet" href = "/nav.css">
    </head>
    <body>
        <!-- Header -->   
        <h1>Student Mental Health App</h1>
        
        <!-- Nav Placement -->
        <nav id = "nav">
            <ul>
                <li><a href = "/home"><strong>Home</strong></a></li>
                <li><a href = "/visuals"><strong>Health Graph</strong></a></li>
            </ul>
        </nav>
        <hr id = "line">
        
        <!-- Click me to logout -->
        <a href = "/logout"><button>Logout</button></a>
        <br><br><br>
        <h2>Visual Content</h2>
        <div class = "visual_content">
            <form action = "/visuals" id = "health_visuals_form" method = "post"> 
                <label for = "allVisuals">Select what data you would like to view:</label>
                    <select id = "visualChoice" name = "visuals" required>
                        <option></option>
                        <option value = "mhRate">Mental Health Ratings</option>
                        <option value = "sleep">Sleep Hours</option>
                        <option value = "study">Study Hours</option>
                    </select>
                <br><br>
                <button>Check out my previous ratings!</button>
            </form>
            
            

        </div>

    </body>
</html>