#nav {
    background-color: rgb(80, 193, 210);
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav li:hover {
    background-color: rgba(142, 191, 222, 0.938);
    color: rgb(0, 0, 0);
}
#nav ul li {
    padding: 10px;
}
#nav a {
  display: block;          
  color: black;
  text-decoration: none;
  border-radius: 8px;
}